
@font-face {
  font-family: 'novecento_sans_widemedium';
  font-style: normal;
  font-weight: normal;
  src: url('Novecentosanswide-Medium-webfont.eot');
  src: local('@fontFamily'), url('../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.woff') format('woff'), url('../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.ttf') format('truetype'), url('../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium') format('svg'), url("../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.otf") format('opentype');
}

.stream .h-feed .e-entry-title{
    font-family: 'novecento_sans_widemedium';
    font-size: 22px;
    line-height: 26px;
    color: white;
    margin-bottom: 10px;
}
.tweet .header{
    min-height: 0!important;
    padding: 0!important;
}
.stream .h-entry.tweet{
    padding-left: 0;
}
.permalink{
    float: left!important;
    color: #ff841c!important;
}
.footer,
.header .p-author{
    display: none!important;
}
.retweet-credit .profile.h-card{
    color: #ff841c!important;
}

/* New style */
#block-views-tweets-block {
  width: 550px;
}
@media (max-width: 767px) {
  #block-views-tweets-block {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #block-views-tweets-block {
    width: 100%;
    padding-right: 250px;
  }
}
#block-views-tweets-block .view-tweets {
  margin-top: 10px;
}
#block-views-tweets-block .view-tweets li {
  display: none;
  color: #000;
}
#block-views-tweets-block .view-tweets li.views-row-first {
  display: block !important;
}
#block-views-tweets-block .view-tweets li .views-field-text {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 22px;
}
#block-views-tweets-block .view-tweets li .views-field-text a {
  display: none;
}
#block-views-tweets-block .view-tweets li .views-field-text a.twitter-timeline-link {
  display: inline-block !important;
}
#block-views-tweets-block .view-tweets li .views-field-created-time {
  color: #ff841c;
  display: block;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 100;
}
#block-views-tweets-block .view-tweets li .views-field-created-time em {
  font-style: normal;
}